<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <tabset>
        <tab heading="Branch Details">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-3 h4">
                  <strong>Branch Details</strong>
                </div>
                <div class="col-md-2 offset-md-7 text-right">
                  <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Edit</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>Title</strong>
                </label>
                <label class="col-md-3">{{entity.title}}</label>
                <label class="col-md-3">
                  <strong>Location</strong>
                </label>
                <label class="col-md-3">{{getCityById(entity.location).cityName}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>Mobile Number</strong>
                </label>
                <label class="col-md-3">{{entity.contno}}</label>
                <label class="col-md-3">
                  <strong>Admin</strong>
                </label>
                <label class="col-md-3">{{getContactByEmployeeId(entity.branchadmin).fname}} {{getContactByEmployeeId(entity.branchadmin).lname}}</label>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>