<div class="modal-header">
  <h4 class="modal-title">Create New Communication</h4>
   
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form *ngIf="!isEditMode">
        <div class="form-group row">
          <div class="col-md-12">
            <div class="form-group row">
              <div class="input-group col-md-12">
                <div class="input-group-prepend" dropdown>
                  <button type="button" class="btn btn-primary">Enter mobile number</button>
                </div>
                <input type="text" id="searchContact" name="searchContact" class="form-control" [(ngModel)]="searchQuery" placeholder="Enter name or mobile number here">
                <span class="input-group-append">
                  <button type="button" class="btn btn-primary" (click)="searchContact(searchQuery)">
                    <i class="fa fa-search"></i> Search</button>
                </span>
              </div>
            </div>
            <div class="row" *ngIf="contactFound; else templateName">
              <label class="col-md-3 col-form-label" for="text-input">
                <strong>Id: </strong>
              </label>
              <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.entity_key_id}}</strong>
              </label>
              <label class="col-md-3 col-form-label" for="text-input">
                <strong>Name: </strong>
              </label>
              <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.fname}} &nbsp; {{user.lname}}</strong>
              </label>
            </div>
            <ng-template #templateName>

              <div class="card">
                <div class="card-header" (click)="isContactCollapsed = !isContactCollapsed">
                  <strong>Create New Contact</strong>
                </div>
                <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isContactCollapsed">
                  <form class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="text-input">First Name</label>
                      <div class="col-md-3">
                        <input type="text" name="firstName" class="form-control" placeholder="First name" [(ngModel)]="user.fname">
                      </div>
                      <label class="col-md-3 col-form-label" for="text-input">Last Name</label>
                      <div class="col-md-3">
                        <input type="text" name="firstName" class="form-control" placeholder="First name" [(ngModel)]="user.lname">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="text-input">Mobile</label>
                      <div class="col-md-3">
                        <input type="text" name="firstName" class="form-control" placeholder="First name" [(ngModel)]="user.mobno">
                      </div>
                      <label class="col-md-3 col-form-label" for="text-input">Branch</label>
                      <div class="col-md-3">
                        <input type="text" name="lastName" class="form-control" placeholder="Last name" [(ngModel)]="user.branch">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="text-input">Email</label>
                      <div class="col-md-3">
                        <input type="text" name="lastName" class="form-control" placeholder="Last name" [(ngModel)]="user.mailid">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isContactCollapsed">
                  <div class="col-md-2 offset-md-10">
                    <button type="button" class="btn btn-primary" (click)="createUser(user)">Save Contact</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </form>
      <div class="row" *ngIf="isEditMode">
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>Contact Id: </strong>
              </label>
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.entity_key_id}}</strong>
              </label>
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>Name: </strong>
              </label>
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.fname}} &nbsp; {{user.lname}}</strong>
              </label>
      </div>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Communication For</label>
          <div class="col-md-3">
              
              
            <select id="communicationFor" name="communicationFor" class="form-control" (change)="onSelect($event.target.value)" [(ngModel)]="communication.communicationfor.commfor">
              <option [ngValue]="">{{communication.communicationfor.commfor}}</option>
              <option *ngFor="let communicationFor of communicationFors"  [ngValue]="communicationFor.entity_key_id">{{communicationFor.commfor}}</option>
            </select> 
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Communication Medium</label>
          <div class="col-md-3">
            <select id="communicationMedium" name="communicationMedium" class="form-control" [(ngModel)]="communication.medium.commMedium">
                <option [ngValue]="">{{communication.medium.commMedium}}</option>
              <option *ngFor="let communicationMedium of communicationMediums" [ngValue]="communicationMedium.entity_key_id">{{communicationMedium.commMedium}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Communication Date</label>
          <div class="col-md-3">
            <input type="date" name="communicationDate" class="form-control" placeholder="Communication Date" [(ngModel)]="communication.datevalue">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Follow Up Date</label>
          <div class="col-md-3">
            <input type="date" name="followUpDate" class="form-control" [(ngModel)]="communication.followupdate">
          </div>
        </div>
        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Is Communication Related To Any Enquiry?</label>
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="checkbox1" (change)="toggleEnquiry($event)">
            </div>
          </div>
        </div> -->
        <div class="card" *ngIf="isEnquiry">
          <div class="card-header" (click)="isSummaryCollapsed = !isSummaryCollapsed">
            Enquiry Details
          </div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isSummaryCollapsed">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Enquiry Id</label>
              <div class="col-md-3">
                <select id="enquiryId" *ngIf="!isEditMode" name="enquiryId" class="form-control" [(ngModel)]="enquiry.entity_key_id">
                  <option *ngFor="let enquiryItem of enquiries" [ngValue]="enquiryItem.entity_key_id">{{enquiryItem.entity_key_id}}</option>
                </select>
                <label class="col-md-3 col-form-label" *ngIf="isEditMode" for="text-input">{{enquiry.entity_key_id}}</label>
              </div>
              <label class="col-md-3 col-form-label" for="text-input">Process Status</label>
               <div class="col-md-3">
                <select id="enquiryId" *ngIf="!isEditMode" name="enquiryId" class="form-control" [(ngModel)]="enquiry.processstatus">
                  <option *ngFor="let processStatus of processStatuses" [ngValue]="processStatus.entity_key_id">{{processStatus.mprocessstatus}}</option>
                </select>
                <!-- <label class="col-md-3 col-form-label" *ngIf="isEditMode" for="text-input">{{getProcessStatusById(enquiry.processstatus)}}</label> -->
              </div> 
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="!isEnquiry">
          <label class="col-md-3 col-form-label" for="textarea-input">Conclusion</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="conclusion" rows="5" class="form-control" placeholder="Conclusion" [(ngModel)]="communication.conclusion"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Remark</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="remark" rows="5" class="form-control" placeholder="Remark" [(ngModel)]="communication.remarkvalue"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="description" rows="5" class="form-control" placeholder="Description" [(ngModel)]="communication.description"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit(communication)">Save changes</button>
</div>