<div class="modal-header">
  <h4 class="modal-title" *ngIf="!isEdit">Create Employee</h4>
  <h4 class="modal-title" *ngIf="isEdit">Update Contact</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" #menuForm="ngForm">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Person</label>
          <div class="col-md-3">
            <select id="city" name="city" class="form-control" [(ngModel)]="employee.personid">
              <option disabled [ngValue]="undefined">Select Person</option>
              <option *ngFor="let contact of contacts" [ngValue]="contact.entity_key_id">{{contact.fname}} {{contact.lname}}</option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Designation</label>
          <div class="col-md-3">
            <select id="city" name="city" class="form-control" [(ngModel)]="employee.designation">
              <option disabled [ngValue]="undefined">Select Designation</option>
              <option *ngFor="let designation of designations" [ngValue]="designation.entity_key_id">{{designation.desgName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Reporting To</label>
          <div class="col-md-3">
            <select id="city" name="city" class="form-control" [(ngModel)]="employee.reportingto">
              <option disabled [ngValue]="undefined">Select Manager</option>
              <option *ngFor="let employee of employees" [ngValue]="employee.entity_key_id">{{getEmployeeNameByEmployeeId(employee.entity_key_id)}}</option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Branch</label>
          <div class="col-md-3">
            <select id="city" name="city" class="form-control" [(ngModel)]="employee.branch">
              <option disabled [ngValue]="undefined">Select Branch</option>
              <option *ngFor="let branch of branches" [ngValue]="branch.entity_key_id">{{getBranchTitleAndLocationById(branch.entity_key_id)}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Date of Birth</label>
          <div class="col-md-3">
            <input type="text" placeholder="Select Date" name="year" class="form-control" bsDatepicker [(ngModel)]="employee.dateofjoining" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-primary" [disabled]="menuForm.invalid" (click)="submit(employee)">Save changes</button>
</div>