<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-3 h4">
              <strong>Employee Details</strong>
            </div>
            <div class="col-md-2 offset-md-7 text-right">
              <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Edit</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3">
              <strong>Name</strong>
            </label>
            <label class="col-md-3">{{employeeName}}</label>
            <label class="col-md-3">
              <strong>Designation</strong>
            </label>
            <label class="col-md-3">{{designation}}</label>
          </div>
          <div class="form-group row">
            <label class="col-md-3">
              <strong>Reporting To</strong>
            </label>
            <label class="col-md-3">{{managerName}}</label>
            <label class="col-md-3">
              <strong>Branch</strong>
            </label>
            <label class="col-md-3">{{branch}}</label>
          </div>
          <div class="form-group row">
            <label class="col-md-3">
              <strong>Date Of Joining</strong>
            </label>
            <label class="col-md-3">{{dateOfJoining}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>