<!-- <div class="app-body">
  <main class="main d-flex align-items-center">
  </main>
</div> -->
<div class="top-margin">
  <div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1>Login</h1>
            <p class="text-muted">Sign In to your account</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="user.username">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" (keydown)="keyDownLogin($event)">
            </div>
            <div class="row">
              <div class="col-6">
                <button type="button" class="btn btn-primary px-4" (click)="login()" (keydown)="keyDownLogin($event)">Login</button>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-link px-0">Forgot password?</button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>Sign up</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  </div>
</div>
