<div class="modal-header">
  <h4 class="modal-title">Create New Communication</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Communication For</label>
          <div class="col-md-3">
            <select id="communicationFor" name="communicationFor" class="form-control" [(ngModel)]="communication.communicationfor">
              <option *ngFor="let communicationFor of communicationFors" [ngValue]="communicationFor.entity_key_id">{{communicationFor.commfor}}</option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Communication Medium</label>
          <div class="col-md-3">
            <select id="communicationMedium" name="communicationMedium" class="form-control" [(ngModel)]="communication.medium">
              <option *ngFor="let communicationMedium of communicationMediums" [ngValue]="communicationMedium.entity_key_id">{{communicationMedium.commMedium}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Communication Date</label>
          <div class="col-md-3">
            <input type="date" name="communicationDate" class="form-control" placeholder="Communication Date" [(ngModel)]="communication.datevalue">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Follow Up Date</label>
          <div class="col-md-3">
            <input type="date" name="followUpDate" class="form-control" [(ngModel)]="communication.followupdate">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Conclusion</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="conclusion" rows="5" class="form-control" placeholder="Conclusion" [(ngModel)]="communication.conclusion"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Remark</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="remark" rows="5" class="form-control" placeholder="Remark" [(ngModel)]="communication.remarkvalue"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="description" rows="5" class="form-control" placeholder="Description" [(ngModel)]="communication.description"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit(communication)">Save changes</button>
</div>