<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header h4">
          <div class="row">
            <div class="col-md-3">
              <strong>{{communication.communicationfor.commfor}}</strong>
            </div>
            <div class="col-md-3 offset-md-6 text-right">
              <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Edit</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Communication For</strong>
              </label>
              <label class="col-md-3">{{communication.communicationfor.commfor}}</label>
              <label class="col-md-3">
                <strong>Contact Name</strong>
              </label>
              <label class="col-md-3">{{communication.personid.fname | titlecase }} {{communication.personid.lname  | titlecase }}</label>
            </div>
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Communication Medium</strong>
              </label>
              <label class="col-md-3">{{communication.medium.commMedium}}</label>
            </div>
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Date</strong>
              </label>
              <label class="col-md-3" *ngIf="communication != undefined">{{communication.datevalue}}</label>
              <label class="col-md-3">
                <strong>Follow Up Date</strong>
              </label>
              <label class="col-md-3" *ngIf="communication != undefined">{{communication.followupdate}}</label>
            </div>
            <div class="form-group row col-md-12" *ngIf="communication != undefined && communication.inquiryid != undefined">
              <label class="col-md-3">
                <strong>Enquiry Id</strong>
              </label>
              <label class="col-md-3" *ngIf="communication != undefined">{{communication.inquiryid}}</label>
            </div>
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Conclusion</strong>
              </label>
              <label class="col-md-3" *ngIf="communication != undefined">{{communication.conclusion}}</label>
            </div>
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Remark</strong>
              </label>
              <label class="col-md-3" *ngIf="communication != undefined">{{communication.remarkvalue}}</label>
            </div>
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Description</strong>
              </label>
              <label class="col-md-3" *ngIf="communication != undefined">{{communication.description}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>