<div class="row" style="margin-bottom: 10px;">
  <div class="input-group col-md-4">
    <span class="input-group-prepend">
          <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
        </span>
    <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Username">
  </div>
  <div class="col-md-3 offset-md-5">
    <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Create Target Product</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Make</th>
          <th>Model</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let targetProduct of targetProducts" (click)="navigateToTargetProductSummary(targetProduct)">
          <td>{{targetProduct.entity_key_id}}</td>
          <td>{{targetProduct.tmake}}</td>
          <td>{{targetProduct.tmodel}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-12 d-sm-down-none">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>