
 <div class="card">
    <div class="card-header h4">
      <div class="row" >
        <div class="col-md-12">
          <strong>{{currentMake}}</strong>
        </div>
      </div>
    </div>
  </div>





<div class="row" style="margin-bottom: 10px;">


  <div class="input-group col-md-4">
      <span class="input-group-prepend">
        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
      </span>
      <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="{{entityTitle}}" [(ngModel)]="entityName">
  </div>
  <div class="col-md-2 offset-md-6">
      <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Create {{entityTitle}}</button>
  </div>
</div>
<div class="row">
<div class="col-lg-12">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Vehicle Type</th>
            <th>Show Varients</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of paginatedEntity | filterBy: ['model']: entityName" >
            <td (click)="navigateToEntitySummary(entity)">{{entity.entity_key_id}}</td>
            <td (click)="navigateToEntitySummary(entity)">{{getMake(entity.makeid)}}</td>
            <td (click)="navigateToEntitySummary(entity)">{{entity.model}}</td>
            <td (click)="navigateToEntitySummary(entity)">{{entity.modeltype}}</td>
            <td><i class="fa fa-eye" (click)="navigateToEntityModel(entity)"></i></td>
            
          </tr>
        </tbody>
      </table>
</div>
      
</div>

<div class="row">
<div class="col-xs-12 col-12 d-sm-down-none">
  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
</div>
</div>