<div class="modal-header">
  <h4 class="modal-title">Create New Enquiry</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>Contact Id: </strong>
              </label>
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.entity_key_id}}</strong>
              </label>
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>Name: </strong>
              </label>
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.fname}} &nbsp; {{user.lname}}</strong>
              </label>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Date</label>
          <div class="col-md-3">
            <input type="date" name="firstName" class="form-control" placeholder="First name" [(ngModel)]="enquiry.datevalue">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Source</label>
          <div class="col-md-3">
            <select id="enquirySource" name="enquirySource" class="form-control" [(ngModel)]="enquiry.enquirysource">
                <option disabled [ngValue]="undefined">Select Source</option>
              <option *ngFor="let enquirySource of enquirySources" [ngValue]="enquirySource.entity_key_id">{{enquirySource.enqsource}}</option>
            </select>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-md-6" >
            <div class="form-group row">
              <label class="col-md-6 col-form-label" for="text-input">Enquiry For</label>
              <div class="col-md-6">
                <select id="enquiryFor" name="enquiryFor" class="form-control" [(ngModel)]="enquiry.enquiryfor">
                    <option disabled [ngValue]="undefined">Select Enquiry For</option>
                  <option *ngFor="let enquiryFor of enquiryFors" [ngValue]="enquiryFor.entity_key_id">{{enquiryFor.enqfor}}</option>
                </select>
              </div>
            </div> 


            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="text-input">Process Status</label>
                <div class="col-md-6">
                  <select id="targetProduct" name="targetProduct" class="form-control" [(ngModel)]="enquiry.processstatus">
                      <option disabled [ngValue]="undefined">Select Process Status</option>
                    <option *ngFor="let processStatus of processStatuses" [ngValue]="processStatus.entity_key_id">{{processStatus.mprocessstatus}}</option>
                  </select>
                </div>
            </div> 
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="text-input">Assign To</label>
                <div class="col-md-6">
                  <select id="targetProduct" name="targetProduct" class="form-control" [(ngModel)]="enquiry.assignto">
                      <option disabled [ngValue]="undefined">Select Employee</option>
                    <option *ngFor="let employee of employees" [ngValue]="employee.entity_key_id">{{getEmployeesNameByEmployeeId(employee.entity_key_id)}}</option>
                  </select>
                </div>
            </div> 

            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="text-input">Enquiry Status</label>
                <div class="col-md-6">
                  <select id="enquiryStatus" name="enquiryStatus" class="form-control" [(ngModel)]="enquiry.statusvalue">
                      <option disabled [ngValue]="undefined">Select Enquiry Status</option>
                    <option *ngFor="let enquiryStatus of enquiryStatuses" [ngValue]="enquiryStatus.entity_key_id">{{enquiryStatus.statusval}}</option>
                  </select>
                </div>
            </div> 
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="text-input">Remark</label>
                <div class="col-md-6">
                  <input type="text" id="text-input" name="remark" class="form-control" placeholder="Remark" [(ngModel)]="enquiry.remarkvalue">
                </div>
            </div> 
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="text-input">Follow Up Date</label>
                <div class="col-md-6">
                  <input type="date" id="text-input" name="followupdate" class="form-control" placeholder="Follow Up Date" [(ngModel)]="enquiry.followupdate">
                </div>
            </div> 
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="text-input">Branch</label>
                <div class="col-md-6">
                  <select id="branches" name="branches" class="form-control" [(ngModel)]="enquiry.branch">
                      <option disabled [ngValue]="undefined">Select Branch</option>
                    <option *ngFor="let branch of branches" [ngValue]="branch.entity_key_id">{{getBranchName(branch.entity_key_id)}}</option>
                  </select>
                </div>
            </div> 

          </div>






          <div class="col-md-6" >
            <label class="col-md-6 col-form-label" for="text-input">Target Product</label>
            <!--<div class="col-md-6">
              <select id="targetProduct" name="targetProduct" class="form-control" [(ngModel)]="enquiry.targetproduct">
                  <option disabled [ngValue]="undefined">Select Target Product</option>
                <option *ngFor="let targetProduct of targetProducts" [ngValue]="targetProduct.entity_key_id">{{targetProduct.tmake}} &nbsp; {{targetProduct.tmodel}}</option>
              </select>
            </div> -->

            <app-tree-view ></app-tree-view>
            
          </div>

        </div>

            
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="address" rows="5" class="form-control" placeholder="Description" [(ngModel)]="enquiry.description"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit(enquiry)">Save changes</button>
</div>
