<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <div class="card">
        <div class="card-header h4">
          <div class="row" *ngIf="user != undefined">
            <div class="col-md-3">
              <strong>{{user.fname}}</strong>&nbsp;
              <strong>{{user.lname}}</strong>
            </div>
            <div class="col-md-3 offset-md-6 text-right">
              <strong>{{user.mobno}}</strong>
            </div>
          </div>
        </div>
      </div>
      <tabset> 
        <tab heading="Summary">
          <div class="row">
            <div class="col-md-3 textcenter">
              <img [src]="personImage" class="img-avatar" style="height:150px;" />
            </div>
            <div class="col-md-9">
              <div class="card">
                <div class="card-header h5">
                  <strong>Basic Details</strong>
                </div>
                <div class="card-body">
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Name</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="user != undefined">{{user.fname}} &nbsp; {{user.lname}}</label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>City</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input">{{city}}</label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Mobile Number</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="user != undefined">{{user.mobno}}</label>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header h5">
                  <strong>Enquiry</strong>
                </div>
                <div class="card-body">
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Enquiry For</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="latestEnquiry != undefined && latestEnquiry.enquiryfor != undefined">{{latestTargetProduct}}</label>
                  </div>
                  <!-- <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Process Status</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="latestEnquiry != undefined && latestEnquiry.processstatus != undefined">{{latestProcessStatus}}</label>
                  </div> -->
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Follow Up Date</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="latestEnquiry != undefined && latestEnquiry.followupdate != undefined">{{latestEnquiry.followupdate}}</label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Enquiry Status</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="latestEnquiry != undefined && latestEnquiry.statusvalue != undefined">{{latestEnquiryStatus}}</label>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header h5">
                  <strong>Communications</strong>
                </div>
                <div class="card-body">
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Date</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="latestCommunication != undefined && latestCommunication.datevalue != undefined">{{latestCommunication.datevalue}}</label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Communication For</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="latestCommunication != undefined  && latestCommunication.communicationfor != undefined">{{latestCommunicationFor}}</label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Medium</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="latestCommunication != undefined  && latestCommunication.medium != undefined">{{latestCommunicationMedium}}</label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">
                      <strong>Follow Up Date</strong>
                    </label>
                    <label class="col-md-3 col-form-label" for="text-input" *ngIf="latestCommunication != undefined && latestCommunication.followupdate != undefined">{{latestCommunication.followupdate}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Personal Details">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-3 h4">
                  <strong>Personal Details</strong>
                </div>
                <div class="col-md-2 offset-md-7 text-right">
                  <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Edit</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>First Name</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.fname}}</label>
                <label class="col-md-3">
                  <strong>Last Name</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.lname}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>Mobile Number</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.mobno}}</label>
                <label class="col-md-3">
                  <strong>Email</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.mailid}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>DOB</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{getDate(user.dob)}}</label>
                <label class="col-md-3">
                  <strong>Age</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.age}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>Aadhar Number</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.aadharno}}</label>
                <label class="col-md-3">
                  <strong>PAN Number</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.panno}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>Organization</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.organisation}}</label>
                <label class="col-md-3">
                  <strong>Organization Location</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.orglocation}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>Organizational Role</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.orgrole}}</label>
                <label class="col-md-3">
                  <strong>Occupation</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{occupation}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>Reference Person Name</strong>
                </label>
                <label class="col-md-3">{{referalPersonName}}</label>
                <label class="col-md-3">
                  <strong>Branch</strong>
                </label>
                <label class="col-md-3">{{branchNameAndLocation}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>City</strong>
                </label>
                <label class="col-md-3">{{city}}</label>
                <label class="col-md-3">
                  <strong>Pincode</strong>
                </label>
                <label class="col-md-3" *ngIf="user != undefined">{{user.pincode}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>Address</strong>
                </label>
                <label class="col-md-9" *ngIf="user != undefined">{{user.address}}</label>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Enquiry">

          <div class="row">
            <div class="col-md-4">
              <input *ngIf="config.filtering" placeholder="Search"
                    [ngTableFiltering]="config.filtering"
                    class="form-control"
                    (tableChanged)="onChangeTable(config)"/>
            </div>
           <div class="col-md-2 offset-md-6 text-right">
            <button type="button" class="btn btn-block btn-primary" (click)="openEnquiryModelWithComponent()">Create Enquiry</button>
          </div>
          </div>
          <br>
          <ng-table [config]="config"
                    (tableChanged)="onChangeTable(config)"
                    (cellClicked)="navigateToEnquiry($event)"
                    [rows]="rows" [columns]="columns">
          </ng-table>
          <pagination *ngIf="config.paging"
                      class="pagination-sm"
                      [(ngModel)]="page"
                      [totalItems]="length"
                      [itemsPerPage]="itemsPerPage"
                      [maxSize]="maxSize"
                      [boundaryLinks]="true"
                      [rotate]="false"
                      (pageChanged)="onChangeTable(config, $event)"
                      (numPages)="numPages = $event">
          </pagination>
          <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>

        </tab>
      </tabset>
    </div>
  </div>
</div>