<!-- <div class="row" style="margin-bottom: 10px;">
  <div class="input-group col-md-4">
      <span class="input-group-prepend">
        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
      </span>
      <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Branch" [(ngModel)]="branchName">
  </div>
  <div class="col-md-2 offset-md-6">
      <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Create New Branch</button>
  </div>
</div>
<div class="row">
<div class="col-lg-12">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>location</th>
            <th>Mobile Number</th>
            <th>Admin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let branch of paginatedBranch | filterBy: ['title']: branchName" (click)="navigateToBranchSummary(branch)">
            <td>{{branch.title}}</td>
            <td>{{getCityById(branch.location).cityName}}</td>
            <td>{{branch.contno}}</td>
            <td>{{branch.branchadmin}}. {{getContactByEmployeeId(branch.branchadmin).fname}} {{getContactByEmployeeId(branch.branchadmin).lname}}</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-12 d-sm-down-none">
  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
</div>
</div> -->

<div class="row">
    <div class="col-md-4">
      <input *ngIf="config.filtering" placeholder="Search"
             [ngTableFiltering]="config.filtering"
             class="form-control"
             (tableChanged)="onChangeTable(config)"/>
    </div>
    <div class="col-md-2 offset-md-6">
          <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Create Vehicle</button>
      </div>
  </div>
  <br>
  <ng-table [config]="config"
            (tableChanged)="onChangeTable(config)"
            (cellClicked)="onCellClick($event)"
            [rows]="rows" [columns]="columns">
  </ng-table>
  <pagination *ngIf="config.paging"
              class="pagination-sm"
              [(ngModel)]="page"
              [totalItems]="length"
              [itemsPerPage]="itemsPerPage"
              [maxSize]="maxSize"
              [boundaryLinks]="true"
              [rotate]="false"
              (pageChanged)="onChangeTable(config, $event)"
              (numPages)="numPages = $event">
  </pagination>
  <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>