<div class="modal-header">
  <h4 class="modal-title" *ngIf="!isEdit">Create Contact</h4>

      
  <h4 class="modal-title" *ngIf="isEdit">Update Contact</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" #menuForm="ngForm">
        <div class="form-group row">
          <label class="col-md-3 col-form-label required" for="text-input">First Name<span class="required-star">*</span></label>
          <div class="col-md-3">
            <input type="text" name="firstName"  [ngClass]="{'is-invalid': fname.invalid && (fname.dirty || fname.touched)}" class="form-control" placeholder="First name" [pattern]="'^[A-Z \-\']*$'" [(ngModel)]="user.fname" required #fname="ngModel">
            <div class="invalid-feedback" *ngIf="fname.invalid && (fname.dirty || fname.touched)">Either first name is empty or invalid</div>
          </div>
          <label class="col-md-3 col-form-label required" for="text-input">Last Name<span class="required-star">*</span></label>
          <div class="col-md-3">
            <input type="text" name="lastName" [ngClass]="{'is-invalid': lname.invalid && (lname.dirty || lname.touched)}" class="form-control" placeholder="Last name" [pattern]="'^[a-zA-Z \-\']*$'" [(ngModel)]="user.lname" required #lname="ngModel">
            <div class="invalid-feedback" *ngIf="lname.invalid && (lname.dirty || lname.touched)">Either last name is empty or invalid</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Email</label>
          <div class="col-md-3">
            <input type="email" id="text-input" name="email" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" class="form-control" placeholder="Email" [(ngModel)]="user.mailid"  #email="ngModel" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*">
            <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">Please enter correct Email</div>
          </div>

          
          <label class="col-md-3 col-form-label" for="text-input">Mobile Number<span class="required-star">*</span></label>
          <div class="col-md-3">
            <input type="number"  ng-pattern="phoneNumbr" required   id="mobileNumber" [ngClass]="{'is-invalid': mobile.invalid && (mobile.dirty || mobile.touched)}" name="mobileNumber" class="form-control" placeholder="Mobile Number" [(ngModel)]="user.mobno"  #mobile="ngModel" pattern="[0-9]{5}[0-9]{4}[0-9]{1}?[0-9]{0}" >
            <div class="invalid-feedback" *ngIf="mobile.invalid && (mobile.dirty || mobile.touched ) && mobile.phoneNumbr ">Please enter mobile number</div>  
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Date of Birth</label>
          <div class="col-md-3">
            <input type="text" placeholder="Select Date" name="year" class="form-control" bsDatepicker [(ngModel)]="user.dob" [bsConfig]="{containerClass: 'theme-blue' }" (onHidden)="setAge()">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Age</label>
          <div class="col-md-3">
            <input type="number" id="age" name="age" class="form-control" placeholder="Age" [(ngModel)]="user.age" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Occupation</label>
          <div class="col-md-3">
            <select id="occupation" name="occupation" class="form-control" [(ngModel)]="user.occupation">
              <option disabled [ngValue]="undefined">Select Occupation</option>
              <option *ngFor="let occupation of occupations" [ngValue]="occupation.entity_key_id">{{occupation.occupationm}}</option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Organization</label>
          <div class="col-md-3">
            <input type="text" id="text-input" name="organization" class="form-control" placeholder="Organization" [(ngModel)]="user.organisation">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Organization Location</label>
          <div class="col-md-3">
            <input type="text" id="text-input" name="location" class="form-control" placeholder="Location" [(ngModel)]="user.orglocation">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Organization Job Role</label>
          <div class="col-md-3">
            <input type="text" id="text-input" name="jobRole" class="form-control" placeholder="Job role" [(ngModel)]="user.orgrole">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Aadhar Number</label>
          <div class="col-md-3">
            <input type="text" name="adhaarNumber"  [ngClass]="{'is-invalid': adhaarNumber.invalid && (adhaarNumber.dirty || adhaarNumber.touched)}" class="form-control" placeholder="Adhaar Number" [(ngModel)]="user.adhaarno"  #adhaarNumber="ngModel" pattern="^\d{4}\d{4}\d{4}$">
            <div class="invalid-feedback" *ngIf="adhaarNumber.invalid && (adhaarNumber.dirty || adhaarNumber.touched)">Please enter valid Aadhar Number</div> 
          </div>
          <label class="col-md-3 col-form-label" for="text-input">PAN Number</label>
          <div class="col-md-3">
            <input type="text" name="panNumber"  [ngClass]="{'is-invalid': panNumber.invalid && (panNumber.dirty || panNumber.touched)}" class="form-control" placeholder="PAN Number" [(ngModel)]="user.panno" #panNumber="ngModel"  pattern="[A-Z]{5}[0-9]{4}[a-z A-Z]{1}">
			      <div class="invalid-feedback" *ngIf="panNumber.invalid && (panNumber.dirty || panNumber.touched)">Please enter valid Pan Number</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Address</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="address" rows="5" class="form-control" placeholder="Address" [(ngModel)]="user.address"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">City<span class="required-star">*</span></label>
          <div class="col-md-3">
            <select id="city" name="city" class="form-control" [(ngModel)]="user.city" [ngClass]="{'is-invalid': city.invalid && (city.dirty || city.touched)}" required #city="ngModel">
              <option disabled [ngValue]="undefined">Select City</option>
              <option *ngFor="let city of cities" [ngValue]="city.entity_key_id">{{city.cityName}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="city.invalid && (city.dirty || city.touched)">Please select city</div>
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Pincode</label>
          <div class="col-md-3">
            <input type="text" id="text-input" name="pincode" class="form-control" placeholder="Pincode" [(ngModel)]="user.pincode">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Referal Person</label>
          <div class="col-md-3">
            <select id="referalPersonId" name="referalPersonId" class="form-control" [(ngModel)]="user.reffid">
              <option disabled [ngValue]="undefined">Select Referal Person</option>
              <option *ngFor="let contact of contacts" [ngValue]="contact.entity_key_id">{{contact.entity_key_id}}. Name: {{contact.fname}} {{contact.lname}}</option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="select1 ">Branch<span class="required-star">*</span></label>
          <div class="col-md-3">
            <select id="branch" name="branch" class="form-control" [(ngModel)]="user.branch" [ngClass]="{'is-invalid': branch.invalid && (branch.dirty || branch.touched)}" required #branch="ngModel">
              <option disabled [ngValue]="undefined">Select Branch </option>
              <option *ngFor="let branch of branches" [ngValue]="branch.entity_key_id">{{branch.title}}, &nbsp;{{getCity(branch.location).cityName}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="branch.invalid && (branch.dirty || branch.touched)">Please select branch</div>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-input">Image</label>
            <div class="col-md-3">
              <input type="file" id="file-input" name="file-input" (change)="onFileChange($event)">
            </div>
            <div class="col-md-3">
              <img [src]="personImage" class="img-avatar" style="height:50px;" />
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-primary" [disabled]="menuForm.invalid" (click)="submit(user)">Save changes</button>
</div>