<div class="card">
  <div class="card-header h5">
    <div class="row">
      <div class="col-md-10 h4">
        Enquiry to <strong>{{enquiryFor}}</strong> a <strong>{{targetProduct}}</strong>        by
        <strong>{{contact.fname}} &nbsp; {{contact.lname}}</strong>        at <strong>{{branchName}}</strong>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Edit</button>
      </div>
    </div>
  </div>
</div>


<tabset>
  <tab heading="Summary">
    <div class="row">
      <div class="form-group row col-md-12">
        <label class="col-md-3">
          <strong>Enquiry For</strong>
        </label>
        <label class="col-md-3">{{enquiryFor}}</label>
        <label class="col-md-3">
          <strong>Target Product</strong>
        </label>
        <label class="col-md-3">{{targetProduct}}</label>
      </div>
      <div class="form-group row col-md-12">
        <label class="col-md-3">
          <strong>Enquiry Date</strong>
        </label>
        <label class="col-md-3" *ngIf="enquiry != undefined" >{{enquiry.datevalue}}</label>
        <label class="col-md-3">
          <strong>Follow Up Date</strong>
        </label>
        <label class="col-md-3" *ngIf="enquiry != undefined">{{enquiry.followupdate}}</label>
      </div>
      <div class="form-group row col-md-12">
        <label class="col-md-3">
          <strong>Branch</strong>
        </label>
        <label class="col-md-3">{{branchName}}</label>
        <label class="col-md-3">
          <strong>Enquiry Source</strong>
        </label>
        <label class="col-md-3">{{enquirySource}}</label>
      </div>
      <div class="form-group row col-md-12">
        <label class="col-md-3">
          <strong>Contact Name</strong>
        </label>
        <label class="col-md-3">{{contact.fname}} &nbsp; {{contact.lname}}</label>
        <label class="col-md-3">
          <strong>Contact Mobile Number</strong>
        </label>
        <label class="col-md-3">{{contact.mobno}}</label>
      </div>
      <div class="form-group row col-md-12">
        <label class="col-md-3">
          <strong>Process Status</strong>
        </label>
        <label class="col-md-3">{{processStatus}}</label>
        <label class="col-md-3">
          <strong>Enquiry Status</strong>
        </label>
        <label class="col-md-3">{{enquiryStatus}}</label>
      </div>
      <div class="form-group row col-md-12">
        <label class="col-md-3">
          <strong>Remark</strong>
        </label>
        <label class="col-md-3" *ngIf="enquiry != undefined">{{enquiry.remarkvalue}}</label>
        <label class="col-md-3">
          <strong>Description</strong>
        </label>
        <label class="col-md-3" *ngIf="enquiry != undefined">{{enquiry.description}}</label>
      </div>
    </div>
  </tab>
  <tab heading="Communications">
    <div class="row">
      <div class="col-md-4">
        <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control"
          (tableChanged)="onChangeTable(config)" />
      </div>
      <div class="col-md-3 offset-md-5 text-right">
        <button type="button" class="btn btn-block btn-primary" (click)="openNewCommunicationModalWithComponent()">Create Communication</button>
      </div>
    </div>
    <br>
    <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClickCommunication($event)" [rows]="rows"
      [columns]="columns">
    </ng-table>
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
  </tab>
  <tab heading="Tasks">
    <div class="col-md-2 offset-md-10 text-right">
      <button type="button" class="btn btn-block btn-primary" (click)="openNewTaskModal()">Create Enquiry</button>
    </div>
    <app-task-list></app-task-list>
  </tab>
</tabset>