<div class="modal-header">
  <h4 class="modal-title">Create {{entityTitle}} for {{makeData.makeName}}</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input"> Model Name</label>
          <div class="col-md-3">
            <input type="text" name="enqsource" class="form-control" placeholder="Model Name" [(ngModel)]="entity.model">
          </div>
          <label class="col-md-3 col-form-label" for="text-input"> Vehicle Type </label>
          <div class="col-md-3">
            <input type="text" name="enqsource" class="form-control" placeholder=" Vehicle Type " [(ngModel)]="entity.modeltype">
          </div>
        </div>
      </form>


    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit(entity)">Save changes</button>
</div>
