<div class="animated fadeIn">
  <div class="row">
     <div class="col-sm-12 col-md-12" *ngFor="let item of appData">
        <div class="card">
            <div class="card-header">
              <i class="{{item.categoryItem}}"></i> {{item.categoryTitle}}
            </div>
            <div class="row" style="padding-top: 10px; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;">
              <div class="col-sm-6 col-md-2" *ngFor="let subcard of item.subMenu" (click)="navigateToRoute(subcard.route)">
                <div class="card text-white {{subcard.class}}">
                  <div class="card-body {{subcard.textAllignment}}" style="padding-right: 10px; padding-left: 10px;">
                    <div class="h1 {{subcard.iconPosition}} mb-1">
                      <i class="{{subcard.icon}}" aria-hidden="true"></i>
                    </div>
                    <div class="h4 mb-0">{{subcard.badge}}</div>
                    <small class="text-muted text-uppercase font-weight-bold">{{subcard.title}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
     </div> 
  </div>
</div>

 