<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <tabset>
        <tab heading="{{entityTitle}} Details">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-3 h4">
                  <strong>{{entityTitle}} Details</strong>
                </div>
                <div class="col-md-2 offset-md-7 text-right">
                  <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Edit</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3">
                  <strong>Name</strong>
                </label>
                <label class="col-md-3">{{entity.mvehiclecategory}}</label>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>