<div class="modal-header">
  <h4 class="modal-title">Create New Enquiry</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form *ngIf="!isEditMode">
        <div class="form-group row">
          <div class="col-md-12">
            <div class="form-group row">
              <div class="input-group col-md-12">
                <div class="input-group-prepend" dropdown>
                  <button type="button" class="btn btn-primary">Enter mobile number</button>
                </div>
                <input type="text" id="searchContact" name="searchContact" class="form-control" [(ngModel)]="searchQuery" placeholder="Enter name or mobile number here">
                <span class="input-group-append">
                  <button type="button" class="btn btn-primary" (click)="searchContact(searchQuery)">
                    <i class="fa fa-search"></i> Search</button>
                </span>
              </div>
            </div>
            <div class="row" *ngIf="contactFound; else templateName">
              <label class="col-md-3 col-form-label" for="text-input">
                <strong>Id: </strong>
              </label>
              <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.entity_key_id}}</strong>
              </label>
              <label class="col-md-3 col-form-label" for="text-input">
                <strong>Name: </strong>
              </label>
              <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.fname}} &nbsp; {{user.lname}}</strong>
              </label>
            </div>
            <ng-template #templateName>

              <div class="card">
                <div class="card-header" (click)="isContactCollapsed = !isContactCollapsed">
                  <strong>Create New Contact</strong>
                </div>
                <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isContactCollapsed">
                  <form class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="text-input">First Name</label>
                      <div class="col-md-3">
                        <input type="text" name="firstName" class="form-control" placeholder="First name" [(ngModel)]="user.fname">
                      </div>
                      <label class="col-md-3 col-form-label" for="text-input">Last Name</label>
                      <div class="col-md-3">
                        <input type="text" name="firstName" class="form-control" placeholder="First name" [(ngModel)]="user.lname">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="text-input">Mobile</label>
                      <div class="col-md-3">
                        <input type="text" name="firstName" class="form-control" placeholder="First name" [(ngModel)]="user.mobno">
                      </div>
                      <label class="col-md-3 col-form-label" for="text-input">Branch</label>
                      <div class="col-md-3">
                        <input type="text" name="lastName" class="form-control" placeholder="Last name" [(ngModel)]="user.branch">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="text-input">Email</label>
                      <div class="col-md-3">
                        <input type="text" name="lastName" class="form-control" placeholder="Last name" [(ngModel)]="user.mailid">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isContactCollapsed">
                  <div class="col-md-2 offset-md-10">
                    <button type="button" class="btn btn-primary" (click)="createUser(user)">Save Contact</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </form>
      <div class="row" *ngIf="isEditMode">
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>Contact Id: </strong>
              </label>
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.entity_key_id}}</strong>
              </label>
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>Name: </strong>
              </label>
        <label class="col-md-3 col-form-label" for="text-input">
                <strong>{{user.fname}} &nbsp; {{user.lname}}</strong>
              </label>
      </div>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Date</label>
          <div class="col-md-3">
            <input type="date" name="firstName" class="form-control" placeholder="First name" [(ngModel)]="enquiry.datevalue">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Source</label>
          <div class="col-md-3">
            <select id="enquirySource" name="enquirySource" class="form-control" [(ngModel)]="enquiry.enquirysource">
              <option *ngFor="let enquirySource of enquirySources" [ngValue]="enquirySource.entity_key_id">{{enquirySource.enqsource}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Enquiry For</label>
          <div class="col-md-3">
            <select id="enquiryFor" name="enquiryFor" class="form-control" [(ngModel)]="enquiry.enquiryfor">
              <option *ngFor="let enquiryFor of enquiryFors" [ngValue]="enquiryFor.entity_key_id">{{enquiryFor.enqfor}}</option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Target Product</label>
          <div class="col-md-3">
            target prodcut : {{enquiry.targetproduct}}
            <select id="targetProduct" name="targetProduct" class="form-control" [(ngModel)]="enquiry.targetproduct">
              <option disabled>Select Target Product</option>
              <option *ngFor="let targetProduct of targetProducts" [ngValue]="targetProduct.entity_key_id">{{targetProduct.entity_key_id}}-{{targetProduct.tmake}} {{targetProduct.tmodel}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Process Status</label>
          <div class="col-md-3">
            PROCESS {{enquiry.processstatus}}
            <select id="processstatus" name="processstatus" class="form-control" [(ngModel)]="enquiry.processstatus">
              <option *ngFor="let processStatus of processStatuses" [ngValue]="processStatus.entity_key_id">{{processStatus.mprocessstatus}}</option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Assign To</label>
          <div class="col-md-3">
            <select id="assignto" name="assignto" class="form-control" [(ngModel)]="enquiry.assignto">
              <option *ngFor="let employee of employees" [ngValue]="employee.entity_key_id">{{getEmployeesNameByEmployeeId(employee.entity_key_id)}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Enquiry Status</label>
          <div class="col-md-3">
            <select id="enquiryStatus" name="enquiryStatus" class="form-control" [(ngModel)]="enquiry.statusvalue">
              <option *ngFor="let enquiryStatus of enquiryStatuses" [ngValue]="enquiryStatus.entity_key_id">{{enquiryStatus.statusval}}</option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Remark</label>
          <div class="col-md-3">
            <input type="text" id="text-input" name="remark" class="form-control" placeholder="Remark" [(ngModel)]="enquiry.remarkvalue">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Follow Up Date</label>
          <div class="col-md-3">
            <input type="date" id="text-input" name="followupdate" class="form-control" placeholder="Follow Up Date" [(ngModel)]="enquiry.followupdate">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Branch</label>
          <div class="col-md-3">
            <select id="branches" name="branches" class="form-control" [(ngModel)]="enquiry.branch">
              <option *ngFor="let branch of branches" [ngValue]="branch.entity_key_id">{{getBranchName(branch.entity_key_id)}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="address" rows="5" class="form-control" placeholder="Description" [(ngModel)]="enquiry.description"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit(enquiry)">Save changes</button>
</div>