<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header h4">
          <div class="row">
            <div class="col-md-3">
              <strong>{{targetProduct.tproductName}}</strong>
            </div>
            <div class="col-md-3 offset-md-6 text-right">
              <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Edit</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Target Product Id</strong>
              </label>
              <label class="col-md-3">{{targetProduct.entity_key_id}}</label>
              <label class="col-md-3">
                <strong>Target Product</strong>
              </label>
              <label class="col-md-3">{{targetProduct.tproductName}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>