<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header h4">
          <div class="row">
            <div class="col-md-3">
              <strong *ngIf="task != undefined">{{task.task_title}}</strong>
            </div>
            <div class="col-md-3 offset-md-6 text-right">
              <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Edit</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Task Id</strong>
              </label>
              <label class="col-md-3" *ngIf="task != undefined">{{task.entity_key_id}}</label>
              <label class="col-md-3">
                <strong>Expiry Date</strong>
              </label>
              <label class="col-md-3" *ngIf="task != undefined">{{task.expdate}}</label>
            </div>
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Task Title</strong>
              </label>
              <label class="col-md-3" *ngIf="task != undefined">{{task.task_title}}</label>
              <label class="col-md-3">
                <strong>Assigned To</strong>
              </label>
              <label class="col-md-3" *ngIf="task != undefined">{{getEmployeesNameByEmployeeId(task.assignto)}}</label>
            </div>
            <div class="form-group row col-md-12">
              <label class="col-md-3">
                <strong>Description</strong>
              </label>
              <label class="col-md-9" *ngIf="task != undefined">{{task.description}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>