<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header h4">
          <div class="row">
            <div class="col-md-3">
              <strong>{{vehicleModel}}</strong>
            </div>
            <div class="col-md-3 offset-md-1 text-right">
              <strong>{{vehicle.regno}}</strong>
            </div>
            <div class="col-md-2 offset-md-3 text-right">
              <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Edit Vehicle</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <carousel [interval]="3000">
                <slide *ngFor="let vehicleImage of vehicleImages" style="height: 300px;">
                  <img [src]="vehicleImage" alt="slide" style="display: block; width: 100%; height: 300px;">
                </slide>
              </carousel>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="animated fadeIn">
          <div class="card">
            <div class="card-header" (click)="isBasicDetailCollapsed = !isBasicDetailCollapsed">
              <i class="fa fa-plus" *ngIf="isBasicDetailCollapsed"></i>
              <i class="fa fa-minus" *ngIf="!isBasicDetailCollapsed"></i> Basic Details
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isBasicDetailCollapsed">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Vehicle Model</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicleModel}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Year</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.year}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Color</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.colour}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Transmision</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{transmission}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Total Kms</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.running}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Fuel Type</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{fuel}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Documents Available</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.documents}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Registration Number</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.regno}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Vehicle Type</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicletype}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Manufacturing</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{getDate(vehicle.manufacturing)}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Registration</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.registration}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Vehicle Ownership</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.noofowners}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Vehicle Owner Name</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{contactName}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Vehicle Owner Contact Number</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{contactMobile}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>RC status</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{getRCStatus(vehicle.rc_status)}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>HPA Status/HPA Bank</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.hpa_status}} / {{vehicle.hpa_bank}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Bank NOC</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.bank_noc}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Chassis Number</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.chassis_no}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Engine Number</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.engine_no}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Damage Status</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.damage_status}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Accident Status</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.accident_status}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Service Log</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.servicelog}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Last Service Done</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{getDate(vehicle.last_serviceing)}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Tyre Life Remaining</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.rem_tyre_life}}%</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Dent and Scratches</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.dentnscratches}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Insurance Expiry date</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{getDate(vehicle.expiry_date)}}</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Check points covered</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.checkpoint}}</label>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Check Point That Needs Attention</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">{{vehicle.checkpointneedatention}}</label>
              </div>
              <!-- <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Vehicle Summary</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">No Data From API</label>
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Inspection Person</strong>
                </label>
                <label class="col-md-3 col-form-label" for="text-input">No Data From API</label>
              </div> -->
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="isExteriorCollapsed = !isExteriorCollapsed">
              <i class="fa fa-plus" *ngIf="isExteriorCollapsed"></i>
              <i class="fa fa-minus" *ngIf="!isExteriorCollapsed"></i>Exterior
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isExteriorCollapsed">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Front Bonnet</strong>
                </label>
                <div class="col-md-9">
                  <progressbar max="7" [value]="vehicle.frontbonnet" type="{{getStyle(vehicle.frontbonnet)}}">
                    <i>{{getRatingsString(vehicle.frontbonnet)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>License Plate</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.licencesplate" type="{{getStyle(vehicle.licencesplate)}}">
                    <i>{{getRatingsString(vehicle.licencesplate)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Front Bumper</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.frontbumper" type="{{getStyle(vehicle.frontbumper)}}">
                    <i>{{getRatingsString(vehicle.frontbumper)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>RH-side fender</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rhfender" type="{{getStyle(vehicle.rhfender)}}">
                    <i>{{getRatingsString(vehicle.rhfender)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>RH-side front door</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rhfrontdoor" type="{{getStyle(vehicle.rhfrontdoor)}}">
                    <i>{{getRatingsString(vehicle.rhfrontdoor)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>RH-Side Rear Door</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rhreardoor" type="{{getStyle(vehicle.rhreardoor)}}">
                    <i>{{getRatingsString(vehicle.rhreardoor)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>RH-Side Quarter Panel</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rhquarterpanel" type="{{getStyle(vehicle.rhquarterpanel)}}">
                    <i>{{getRatingsString(vehicle.rhquarterpanel)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Boot</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.boot" type="{{getStyle(vehicle.rhquarterpanel)}}">
                    <i>{{getRatingsString(vehicle.boot)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Rear Bumper</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rearbumper" type="{{getStyle(vehicle.rearbumper)}}">
                    <i>{{getRatingsString(vehicle.rearbumper)}} </i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>LH-Side Quarter Panel</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.lhquarterpanel" type="{{getStyle(vehicle.lhquarterpanel)}}">
                    <i>{{getRatingsString(vehicle.lhquarterpanel)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>LH-Side Rear Door</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.lhreardoor" type="{{getStyle(vehicle.lhreardoor)}}">
                    <i>{{getRatingsString(vehicle.lhreardoor)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>LH-Side Front Door</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.lhfrontdoor" type="{{getStyle(vehicle.lhreardoor)}}">
                    <i>{{getRatingsString(vehicle.lhfrontdoor)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>LH-side fender</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.lhfender" type="{{getStyle(vehicle.lhfender)}}">
                    <i>{{getRatingsString(vehicle.lhfender)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Windshield Front</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.windshieldfront" type="{{getStyle(vehicle.windshieldfront)}}">
                    <i>{{getRatingsString(vehicle.windshieldfront)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Rear Glass</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rearglass" type="{{getStyle(vehicle.rearglass)}}">
                    <i>{{getRatingsString(vehicle.rearglass)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Roof</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.roof" type="{{getStyle(vehicle.roof)}}">
                    <i>{{getRatingsString(vehicle.roof)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Pillars</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.pillars" type="{{getStyle(vehicle.pillars)}}">
                    <i>{{getRatingsString(vehicle.pillars)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Side View Mirrors</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.sidemirrors" type="{{getStyle(vehicle.sidemirrors)}}">
                    <i>{{getRatingsString(vehicle.sidemirrors)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Fuel Lid</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.fuellid" type="{{getStyle(vehicle.fuellid)}}">
                    <i>{{getRatingsString(vehicle.fuellid)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Paint Overspray</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.paintoverspray" type="{{getStyle(vehicle.paintoverspray)}}">
                    <i>{{getRatingsString(vehicle.paintoverspray)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Paint Peel Off</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.paintpeeloff" type="{{getStyle(vehicle.paintpeeloff)}}">
                    <i>{{getRatingsString(vehicle.paintpeeloff)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Paint Condition</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.paintcondition" type="{{getStyle(vehicle.paintcondition)}}">
                    <i>{{getRatingsString(vehicle.paintcondition)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Running Board</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.runningborad" type="{{getStyle(vehicle.runningboard)}}">
                    <i>{{getRatingsString(vehicle.runningboard)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Lights</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.paintcondition" type="{{getStyle(vehicle.paintcondition)}}">
                    <i>{{getRatingsString(vehicle.paintcondition)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Front Bumper Net</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.frontbumpernet" type="{{getStyle(vehicle.frontbumpernet)}}">
                    <i>{{getRatingsString(vehicle.frontbumpernet)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Viper</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.viper" type="{{getStyle(vehicle.viper)}}">
                    <i>{{getRatingsString(vehicle.viper)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Door Handle</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.doorhandle" type="{{getStyle(vehicle.doorhandle)}}">
                    <i>{{getRatingsString(vehicle.doorhandle)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Show Guard Front</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.frontguard" type="{{getStyle(vehicle.frontguard)}}">
                    <i>{{getRatingsString(vehicle.frontguard)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Show Guard Rear</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rearguard" type="{{getStyle(vehicle.rearguard)}}">
                    <i>{{getRatingsString(vehicle.rearguard)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Roof Carrier</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.roofcarrier" type="{{getStyle(vehicle.roofcarrier)}}">
                    <i>{{getRatingsString(vehicle.roofcarrier)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>License Plate Lights</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.licenceplatelights" type="{{getStyle(vehicle.licenceplatelights)}}">
                    <i>{{getRatingsString(vehicle.licenceplatelights)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Fuel Filter</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.fuelfilter" type="{{getStyle(vehicle.fuelfilter)}}">
                    <i>{{getRatingsString(vehicle.fuelfilter)}}</i>
                  </progressbar>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" (click)="isInteriorCollapsed = !isInteriorCollapsed">
              <i class="fa fa-plus" *ngIf="isInteriorCollapsed"></i>
              <i class="fa fa-minus" *ngIf="!isInteriorCollapsed"></i>Interior
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isInteriorCollapsed">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Steering</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.steering" type="{{getStyle(vehicle.steering)}}">
                    <i>{{getRatingsString(vehicle.steering)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Door panel and hinges</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.hinges" type="{{getStyle(vehicle.hinges)}}">
                    <i>{{getRatingsString(vehicle.hinges)}} </i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Dashboard</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.dashboard" type="{{getStyle(vehicle.dashboard)}}">
                    <i>{{getRatingsString(vehicle.dashboard)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Interior Trims</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.interiortrims" type="{{getStyle(vehicle.interiortrims)}}">
                    <i>{{getRatingsString(vehicle.interiortrims)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Combination Switch Assembly</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.switchassembly" type="{{getStyle(vehicle.switchassembly)}}">
                    <i>{{getRatingsString(vehicle.switchassembly)}} </i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Seat and Seat Belt Condition</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.seatcondition" type="{{getStyle(vehicle.seatcondition)}}">
                    <i>{{getRatingsString(vehicle.seatcondition)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Accessories</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.accessories" type="{{getStyle(vehicle.accessories)}}">
                    <i>{{getRatingsString(vehicle.accessories)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Hand Break</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.handbreak" type="{{getStyle(vehicle.handbreak)}}">
                    <i>{{getRatingsString(vehicle.handbreak)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Pedals</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.pedals" type="{{getStyle(vehicle.pedals)}}">
                    <i>{{getRatingsString(vehicle.pedals)}} </i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Horns</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.horns" type="{{getStyle(vehicle.pedals)}}">
                    <i>{{getRatingsString(vehicle.horns)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Carpet and Floor Mat</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.carpet" type="{{getStyle(vehicle.carpet)}}">
                    <i>{{getRatingsString(vehicle.carpet)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Odometer Assembly</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.odometer" type="{{getStyle(vehicle.odometer)}}">
                    <i>{{getRatingsString(vehicle.odometer)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Hazard Lights</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.hazardlight" type="{{getStyle(vehicle.hazardlight)}}">
                    <i>{{getRatingsString(vehicle.hazardlight)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Central Lock / Keyless entry</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.centrallock" type="{{getStyle(vehicle.centrallock)}}">
                    <i>{{getRatingsString(vehicle.centrallock)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Cruise Control</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="1" type="{{getStyle(vehicle.cruisecontrol)}}">
                    <i>{{getRatingsString(vehicle.cruisecontrol)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Boot Condition</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.bootcondition" type="{{getStyle(vehicle.bootcondition)}}">
                    <i>{{getRatingsString(vehicle.bootcondition)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Jack And Tommy Available?</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.jackandtommy == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Wheel Spammer Available</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.wheelspanner == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Rear View Camera</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rearcamera" type="{{getStyle(vehicle.rearcamera)}}">
                    <i>{{getRatingsString(vehicle.rearcamera)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Upholstery</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.upholstery" type="{{getStyle(vehicle.upholstery)}}">
                    <i>{{getRatingsString(vehicle.upholstery)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Celing-top</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.ceilingtop" type="{{getStyle(vehicle.ceilingtop)}}">
                    <i>{{getRatingsString(vehicle.ceilingtop)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Handles-top</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.handlestop" type="{{getStyle(vehicle.handlestop)}}">
                    <i>{{getRatingsString(vehicle.handlestop)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Rear View Mirror</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.inrearmirror" type="{{getStyle(vehicle.inrearmirror)}}">
                    <i>{{getRatingsString(vehicle.inrearmirror)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Seating Adjustement</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.seatingadjustment" type="{{getStyle(vehicle.seatingadjustment)}}">
                    <i>{{getRatingsString(vehicle.seatingadjustment)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Sun Protection</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.sunprotection" type="{{getStyle(vehicle.sunprotection)}}">
                    <i>{{getRatingsString(vehicle.sunprotection)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Toolkit</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.toolkit" type="{{getStyle(vehicle.toolkit)}}">
                    <i>{{getRatingsString(vehicle.toolkit)}}</i>
                  </progressbar>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="isSystemsAndFunctionsCollapsed = !isSystemsAndFunctionsCollapsed">
              <i class="fa fa-plus" *ngIf="isSystemsAndFunctionsCollapsed"></i>
              <i class="fa fa-minus" *ngIf="!isSystemsAndFunctionsCollapsed"></i>Systems and Functions
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isSystemsAndFunctionsCollapsed">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Accessories</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.accesories" type="{{getStyle(vehicle.accessories)}}">
                    <i>{{getRatingsString(vehicle.accessories)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Transmission Control</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.transmission" type="{{getStyle(vehicle.transmission)}}">
                    <i>{{getRatingsString(vehicle.transmission)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Gears and Gearbox Assembly</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.gearboxassembly" type="{{getStyle(vehicle.gearboxassembly)}}">
                    <i>{{getRatingsString(vehicle.gearboxassembly)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>AC Blower</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.acblower" type="{{getStyle(vehicle.acblower)}}">
                    <i>{{getRatingsString(vehicle.acblower)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Cooling</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.cooling" type="{{getStyle(vehicle.cooling)}}">
                    <i>{{getRatingsString(vehicle.cooling)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Heater</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.heater" type="{{getStyle(vehicle.heater)}}">
                    <i>{{getRatingsString(vehicle.heater)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>ABS</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.abs == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Music System</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.musicsystem" type="{{getStyle(vehicle.musicsystem)}}">
                    <i>{{getRatingsString(vehicle.musicsystem)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Airbags</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.airbag == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>ESP</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.esp == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Reverse Parking Assist</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.reverseparkingassist == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Starter Motor</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.startermotor" type="{{getStyle(vehicle.startermotor)}}">
                    <i>{{getRatingsString(vehicle.startermotor)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Alternator</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.alternator" type="{{getStyle(vehicle.alternator)}}">
                    <i>{{getRatingsString(vehicle.alternator)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>AC Compressor</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.accompressor" type="{{getStyle(vehicle.accompressor)}}">
                    <i>{{getRatingsString(vehicle.accompressor)}}</i>
                  </progressbar>
                </div>
              </div> 
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Wiper assembly and blades</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.wiperassembly" type="{{getStyle(vehicle.wiperassembly)}}">
                    <i>{{getRatingsString(vehicle.wiperassembly)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Battery Conditions</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.batterycondition" type="{{getStyle(vehicle.batterycondition)}}">
                    <i>{{getRatingsString(vehicle.batterycondition)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Ignition and Fuel System</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.ignition" type="{{getStyle(vehicle.ignition)}}">
                    <i>{{getRatingsString(vehicle.ignition)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Head and Tail Lamp</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.headndtaillamp" type="{{getStyle(vehicle.headndtaillamp)}}">
                    <i>{{getRatingsString(vehicle.headndtaillamp)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Fog Lamp</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.foglamp" type="{{getStyle(vehicle.foglamp)}}">
                    <i>{{getRatingsString(vehicle.foglamp)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Remote Lock</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.remotelock" type="{{getStyle(vehicle.remotelock)}}">
                    <i>{{getRatingsString(vehicle.remotelock)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Indicators and Parking Lamp</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.indicators" type="{{getStyle(vehicle.indicators)}}">
                    <i>{{getRatingsString(vehicle.indicators)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Interior Light Check</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.interiorlight" type="{{getStyle(vehicle.interiorlight)}}">
                    <i>{{getRatingsString(vehicle.interiorlight)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Power Window</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.powerwindow == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Auto Parking</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.autoparking" type="{{getStyle(vehicle.autoparking)}}">
                    <i>{{getRatingsString(vehicle.autoparking)}}</i>
                  </progressbar>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="isSuspensionsAndBrakesCollapsed = !isSuspensionsAndBrakesCollapsed">
              <i class="fa fa-plus" *ngIf="isSuspensionsAndBrakesCollapsed"></i>
              <i class="fa fa-minus" *ngIf="!isSuspensionsAndBrakesCollapsed"></i>Suspensions and Brakes
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isSuspensionsAndBrakesCollapsed">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Front Strut Assembly</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.frontstrut" type="{{getStyle(vehicle.frontstrut)}}">
                    <i>{{getRatingsString(vehicle.frontstrut)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Steering Box Assembly</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.steeringbox" type="{{getStyle(vehicle.steeringbox)}}">
                    <i>{{getRatingsString(vehicle.steeringbox)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Power Steering Assembly</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.powersteering" type="{{getStyle(vehicle.powersteering)}}">
                    <i>{{getRatingsString(vehicle.powersteering)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Rear Shock Assembly</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rearshock" type="{{getStyle(vehicle.rearshock)}}">
                    <i>{{getRatingsString(vehicle.rearshock)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Front Shock Assembly</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.frontshock" type="{{getStyle(vehicle.frontshock)}}">
                    <i>{{getRatingsString(vehicle.frontshock)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Front Disc And Pads</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.frontdiscandpads" type="{{getStyle(vehicle.frontdiscandpads)}}">
                    <i>{{getRatingsString(vehicle.frontdiscandpads)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Rear Drums And Shoes</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.reardrumandshoes" type="{{getStyle(vehicle.reardrumandshoes)}}">
                    <i>{{getRatingsString(vehicle.reardrumandshoes)}}</i>
                  </progressbar>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="isWheelsDetailsCollapsed = !isWheelsDetailsCollapsed">
              <i class="fa fa-plus" *ngIf="isWheelsDetailsCollapsed"></i>
              <i class="fa fa-minus" *ngIf="!isWheelsDetailsCollapsed"></i>Wheels Details
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isWheelsDetailsCollapsed">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Number Of Tyres</strong>
                </label>
                <div class="col-md-9">
                  <label>{{vehicle.numberoftyres}}</label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Tyre Condition</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.tyrecondition" type="{{getStyle(vehicle.tyrecondition)}}">
                    <i>{{getRatingsString(vehicle.tyrecondition)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Spare Tyre Condition</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.sparetyre" type="{{getStyle(vehicle.sparetyre)}}">
                    <i>{{getRatingsString(vehicle.sparetyre)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Alloy Wheels</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.alloywheels == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Disc</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.disc" type="{{getStyle(vehicle.disc)}}">
                    <i>{{getRatingsString(vehicle.disc)}}</i>
                  </progressbar>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="isHoodCollapsed = !isHoodCollapsed">
              <i class="fa fa-plus" *ngIf="isHoodCollapsed"></i>
              <i class="fa fa-minus" *ngIf="!isHoodCollapsed"></i>Hood/Bonnet Details
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isHoodCollapsed">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Bonnet Interior</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.bonnetinterior" type="{{getStyle(vehicle.bonnetinterior)}}">
                    <i>{{getRatingsString(vehicle.bonnetinterior)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>LH-side appron</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.lhapron" type="{{getStyle(vehicle.lhapron)}}">
                    <i>{{getRatingsString(vehicle.lhapron)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>RH-side appron</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.rhapron" type="{{getStyle(vehicle.rhapron)}}">
                    <i>{{getRatingsString(vehicle.rhapron)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Radiator</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.radiator" type="{{getStyle(vehicle.radiator)}}">
                    <i>{{getRatingsString(vehicle.radiator)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Wiring</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.wiring" type="{{getStyle(vehicle.wiring)}}">
                    <i>{{getRatingsString(vehicle.wiring)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Brake Fluid Level</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.brakefluidlevel" type="{{getStyle(vehicle.brakefluidlevel)}}">
                    <i>{{getRatingsString(vehicle.brakefluidlevel)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Engine Oil</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.engineoil" type="{{getStyle(vehicle.engineoil)}}">
                    <i>{{getRatingsString(vehicle.engineoil)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Oil and Fluid Leakage</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.oilandfluidleakage" type="{{getStyle(vehicle.oilandfluidleakage)}}">
                    <i>{{getRatingsString(vehicle.oilandfluidleakage)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Coolant Level</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.coolantlevel" type="{{getStyle(vehicle.coolantlevel)}}">
                    <i>{{getRatingsString(vehicle.coolantlevel)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Brake and Coolant Hose Pipe</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.brakecoolantpipe" type="{{getStyle(vehicle.brakecoolantpipe)}}">
                    <i>{{getRatingsString(vehicle.brakecoolantpipe)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Undercarriage</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.undercarriage" type="{{getStyle(vehicle.undercarriage)}}">
                    <i>{{getRatingsString(vehicle.undercarriage)}} </i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Chassis and Vehicle Frame</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.chassisandvehicleframe" type="{{getStyle(vehicle.chassisandvehicleframe)}}">
                    <i>{{getRatingsString(vehicle.chassisandvehicleframe)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Exhaust System</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.exhaustsystem" type="{{getStyle(vehicle.exhaustsystem)}}">
                    <i>{{getRatingsString(vehicle.exhaustsystem)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Air Cleaner</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.aircleaner" type="{{getStyle(vehicle.aircleaner)}}">
                    <i>{{getRatingsString(vehicle.aircleaner)}}</i>
                  </progressbar>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="isUnderBodyCollapsed = !isUnderBodyCollapsed">
              <i class="fa fa-plus" *ngIf="isUnderBodyCollapsed"></i>
              <i class="fa fa-minus" *ngIf="!isUnderBodyCollapsed"></i>Under Body Details
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isUnderBodyCollapsed">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Joint Cross</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.jointcross" type="{{getStyle(vehicle.jointcross)}}">
                    <i>{{getRatingsString(vehicle.jointcross)}}</i>
                  </progressbar>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Oil Chamber</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <progressbar max="7" [value]="vehicle.oilchember" type="{{getStyle(vehicle.oilchember)}}">
                    <i>{{getRatingsString(vehicle.oilchember)}} </i>
                  </progressbar>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="isVehicleDocumentCollapsed = !isVehicleDocumentCollapsed">
              <i class="fa fa-plus" *ngIf="isVehicleDocumentCollapsed"></i>
              <i class="fa fa-minus" *ngIf="!isVehicleDocumentCollapsed"></i>Vehicle Document
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isVehicleDocumentCollapsed">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Insurance Expiry Date</strong>
                </label>
                <div class="col-md-9 ">
                  <label>{{getDate(vehicle.expiry_date)}}</label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>RC Status</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label>{{getRCStatus(vehicle.rc_status)}}</label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Number Of Owners</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <label>{{vehicle.noofowners}}</label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>FC validity</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <!-- <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.fc_validity == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label> -->
                  <label>{{vehicle.fcvalidity}}</label>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">
                  <strong>Vehicle Service Log</strong>
                </label>
                <div class="col-md-9 slidecontainer">
                  <!-- <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" [checked]="vehicle.servicelog == 'yes'" disabled>
                    <span class="switch-slider"></span>
                  </label> -->
                  <label>{{vehicle.servicelog}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>