<div class="row" style="margin-bottom: 10px;">
  <div class="input-group col-md-4">
    <span class="input-group-prepend">
          <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
        </span>
    <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Username">
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Communication For</th>
          <th>Person</th>
          <th>Follow Up Date</th>
          <th>Remark</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let communication of communications" (click)="navigateToCommunicationSummary(communication)">
          <td>{{communication.datevalue}}</td>
          <td>{{getCommunicationForById(communication.communicationfor)}}</td>
          <td>{{getContactById(communication.personid)}}</td>
          <td>{{communication.followupdate}}</td>
          <td>{{communication.remarkvalue}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-12 d-sm-down-none">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>