// If you want to override variables do it here
@import "variables";

// Import styles
@import "node_modules/@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.required-star{
    color: red;
}

.error-message{
    color: red;
}

.top-margin{
    margin-top: 10%;
}