<div class="modal-header">
  <h4 class="modal-title">Create New Task</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Task Title</label>
          <div class="col-md-3">
            <input type="text" name="firstName" class="form-control" placeholder="Title" [(ngModel)]="task.task_title">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Expiry Date</label>
          <div class="col-md-3">
            <input type="date" name="lastName" class="form-control" placeholder="Last name" [(ngModel)]="task.expdate">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Assign To</label>
          <div class="col-md-3">
            <select id="enquiryFor" name="enquiryFor" class="form-control" [(ngModel)]="task.assignto">
              <option *ngFor="let employee of employees" [ngValue]="employee.entity_key_id">{{getEmployeeNameById(employee.personid)}}</option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Status</label>
          <div class="col-md-3">
            <select id="enquiryFor" name="enquiryFor" class="form-control" [(ngModel)]="task.taskstatus">
              <option *ngFor="let status of statuses" [ngValue]="status.entity_key_id">{{status.statusval}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="address" rows="5" class="form-control" placeholder="Description" [(ngModel)]="task.description"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Remark</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="remark" rows="5" class="form-control" placeholder="Remark" [(ngModel)]="task.remarkvalue"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit(task)">Save changes</button>
</div>