<div class="modal-header">
  <h4 class="modal-title">Create New Branch</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Title</label>
          <div class="col-md-3">
            <input type="text" name="title" class="form-control" placeholder="Title" [(ngModel)]="branch.title">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Location</label>
          <div class="col-md-3">
            <select id="city" name="city" class="form-control" [(ngModel)]="branch.location">
              <option disabled>Select City</option>
              <option *ngFor="let city of cities" [ngValue]="city.entity_key_id">{{city.cityName}}</option>
          </select>
          </div>
          </div>
          <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Number</label>
          <div class="col-md-3">
            <input type="number" name="contno" class="form-control" placeholder="Contact Number" [(ngModel)]="branch.contno">
          </div>
          <label class="col-md-3 col-form-label" for="text-input">Admin</label>
          <div class="col-md-3">
          <select id="branchadmin" name="branchadmin" class="form-control" [(ngModel)]="branch.branchadmin">
              <option disabled>Select admin</option>
              <option *ngFor="let employee of employees" [ngValue]="employee.entity_key_id">{{employee.entity_key_id}}. {{getContactByEmployeeId(employee.entity_key_id).fname}} {{getContactByEmployeeId(employee.entity_key_id).lname}}</option>
          </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit(branch)">Save changes</button>
</div>