<div class="row" style="margin-bottom: 10px;">
  <div class="input-group col-md-4">
    <span class="input-group-prepend">
          <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
        </span>
    <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Username">
  </div>
  <div class="col-md-3 offset-md-5">
    <button type="button" class="btn btn-block btn-primary" (click)="openModalWithComponent()">Create Task</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Task Id</th>
          <th>Title</th>
          <th>Expiry Date</th>
          <th>Assigned To</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks" (click)="navigateToTaskSummary(task)">
          <td>{{task.entity_key_id}}</td>
          <td>{{task.task_title}}</td>
          <td>{{task.expdate}}</td>
          <td>{{getEmployeeNameById(task.assignto)}}</td>
          <td>{{task.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-12 d-sm-down-none">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>